@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.pin {
  z-index: 10;
  transition: transform 0.2s ease;
}

.pin:hover {
  transform: translate(-50%, -50%) scale(1.3);
  z-index: 20;
}

